
body{
    background-color:grey;
}

div{
    position:absolute;     
}

#interface{
    margin:auto;
    width: 486px;
    height:530px;
    
    position:relative;
}

#screen{
    background-color:white;
    color: white;
    border-style: solid;   
    border-color:black;  
    font-family:monospace; 
}

#control{
    top:440px;  
    
}

.button-div{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    background-color: blue;
    border-style: solid;   
    border-color:black; 
    font-family:monospace;
}

#info{
    background-color:white;
    width:440px;
    height:50px;
    border-style: solid;   
    border-color:black; 
    text-align: center; 
    font-family:monospace;
}

#north{
    top:60px;
    left:200px;
}

#east{
    top:100px;
    left:260px;
}

#south{
    top:140px;
    left:200px;
}

#west{
    top:100px;
    left:140px;
}

#music{
    top:190px;
    left:80px;
}