
body{
    background-color:grey;
}

div{
    position:absolute;     
}

#interface{
    margin:auto;
    width: 486px;
    height:530px;
    
    position:relative;
}

#screen{
    background-color:white;
    color: darkgray;
    border-style: solid;   
    border-color:black;   
}

#control{
    top:480px;  
}

.button-div{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    background-color: blue;
    border-style: solid;   
    border-color:black; 
}

#info{
    background-color:white;
    width:480px;
    height:40px;
    border-style: solid;   
    border-color:black; 
    text-align: center; 
}

#north{
    top:50px;
    left:200px;
}

#east{
    top:90px;
    left:260px;
}

#south{
    top:130px;
    left:200px;
}

#west{
    top:90px;
    left: 140px;
}

#music{
    top:180px ;
    left: 80px;
}