
body{
    background-color:grey;
}

div{
    position:absolute;  
    font-family: monospace;
  
}

@font-face{        /* Has to be in the same folder as css code to work  */ 

    src: url(IMFellEnglish-Italic.ttf);
    font-family:CustomFont;
}

.headContainer{
    display:flex;
    position : fixed;   /*stays in the same place even if the page is scrolled */
    background-color:rgb(29, 37, 37);/* rgb(173, 228, 223); */
    justify-content: center;   /*set the alignment of primary axis (x) */ 
    height: 80px;
    align-items:center;    /*set the alignment of secondary axis (y) */ 
    Z-index: 2;              /* everything hides behinder the header   */
    top:0px;                /* so it is fixed to the sides of the page  */
    left:0;
    right:0; 
}

.headTitle{
    color: whitesmoke;
    font-size: 30px;
    font-family:CustomFont;
}

button{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 45px;
    background-color: lightgray;
    border-style: solid;   
    border-color:black;
    font-weight: bold;
    text-align: low;
    padding-top: 25%;
    border-radius: 30%;
}


#interface{
    margin:auto;
    width: 480px;
    height:530px;
    position:relative;
    margin-top: 130px; 
}

#screen{
    background-color:White;
    color: White;
    border-style: solid;   
    border-color:black; 
    margin-bottom: 0cm;
}

#control{
    top:400px;    
}

#info{
    top:400px;
    background-color:white;
    margin:auto;
    width: 437px;
    height:70px;
    border-style: solid;   
    border-color:black; 
    text-align: center; 
    border-radius: 2%;
}

#north{
    top:80px;
    left:200px;
   
}

#east{
    top:120px;
    left:260px;
}

#south{
    top:160px;
    left:200px;
}

#west{
    top:120px;
    left:140px;
}

#music{
    top:210px;
    left:80px;
}
