div{
    position:absolute;
    font-family: monospace;
    font-size: 15px;
}

#screen{
    background-color:white;
    color: grey;    
}

#control{
    position:relative;
    top:200px;
    height:351 px;
    width:200 px;
}

#info{
    width:400px;
}

#north{
    top:40px;
    left:150px;
}

#east{
    top:80px;
    left:210px;
}

#south{
    top:120px;
    left:150px;
}

#west{
    top:80px;
    left: 90px;
}